/* General Styles */
.store-container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Error Message */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 10px;
}

/* Ingredients Dropdown */
.ingredients-dropdown {
    border: 1px solid #ccc;
    background: white;
    border-radius: 5px;
    padding: 5px;
    max-height: 150px;
    overflow-y: auto;
    position: relative;
}

.ingredient-dropdown-item {
    padding: 8px;
    cursor: pointer;
    transition: background 0.2s;
}

.ingredient-dropdown-item:hover {
    background: #f0f0f0;
}

/* Selected Ingredients */
.ingredients-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.ingredient-tag {
    display: flex;
    align-items: center;
    background: #5F7A61;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.ingredient-tag button {
    background: transparent;
    border: none;
    color: white;
    margin-left: 5px;
    cursor: pointer;
    font-size: 16px;
}

.ingredient-tag button:hover {
    color: #333;
}

/* Recipe Item Styles */
.recipe-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-transform: lowercase;
    /* Make all text lowercase */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Add hover effect */
}

.recipe-item:hover {
    transform: scale(1.001);
    /* Slightly increase size on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    /* Enhance shadow on hover */
}

.recipe-image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
}

.recipe-details {
    flex: 1;
}

.recipe-details h2 {
    margin: 0 0 10px 0;
    font-size: 24px;
}

.recipe-details p {
    margin: 0 0 5px 0;
    color: #555;
}

.recipe-description {
    color: #777;
    margin: 0 0 10px 0;
}

.match-percentage {
    padding: 5px;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}

.recipe-info p {
    font-size: 0.9rem;
    color: #666;
}

.recipe-ingredients ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recipe-ingredients li {
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    /* margin: 30px; */
}

.ingredient-selected {
    color: #28a745;
    /* Green for selected ingredients */
    position: relative;
    /* Required for the underline */
}

.ingredient-not-selected {
    color: #dc3545;
    /* Red for non-selected ingredients */
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Underline spans the text width */
    height: 2px;
    background-color: #28a745;
    /* Green underline for selected ingredients */
}

/* Default View Styles */
.default-view {
    text-align: center;
    margin-top: 50px;
}

.default-view h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.default-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

/* Error Message Styles */
.error-message {
    color: #dc3545;
    /* Red color for errors */
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8d7da;
    /* Light red background */
    border: 1px solid #f5c6cb;
    /* Red border */
    border-radius: 5px;
}
.filter-controls {
    /* position: absolute; */
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 460 55'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23fff' stroke-width='7' opacity='.1'%3E%3Cpath d='M-345 34.5s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 48.3 0 48.3s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 20.7s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 34.5 0 34.5s115-13.8 115-13.8S172.5 6.9 230 6.9s115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8m-920 27.6s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 62.1 0 62.1s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3Cpath d='M-345 6.9s57.5-13.8 115-13.8S-115 6.9-115 6.9-57.5 20.7 0 20.7 115 6.9 115 6.9 172.5-6.9 230-6.9 345 6.9 345 6.9s57.5 13.8 115 13.8S575 6.9 575 6.9'/%3E%3Cpath d='M-345-6.9s57.5-13.8 115-13.8S-115-6.9-115-6.9-57.5 6.9 0 6.9 115-6.9 115-6.9s57.5-13.8 115-13.8S345-6.9 345-6.9 402.5 6.9 460 6.9 575-6.9 575-6.9m-920 69s57.5-13.8 115-13.8 115 13.8 115 13.8S-57.5 75.9 0 75.9s115-13.8 115-13.8 57.5-13.8 115-13.8 115 13.8 115 13.8 57.5 13.8 115 13.8 115-13.8 115-13.8'/%3E%3C/g%3E%3C/svg%3E%0A"), linear-gradient(80deg, #202, #006);
    background-position: 50% 50%;
    animation: background-move 10s linear infinite;
    background-size: 100vw auto, 100% 100%;
    background-size: max(100vw, 30em) auto, 100% 100%;
}

@keyframes background-move {
    0% {
        background-position: 0 0, 0 0;
    }

    100% {
        background-position: 100vw 0, 0 0;
        background-position: max(100vw, 40em) 0, 0 0;
    }
}

.input-group {
    width: 100%;
    
    /* max-width: 20em; */
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-top: 50px;
}

@supports (mix-blend-mode: darken) {
    .input-group {
        position: relative;
        mix-blend-mode: lighten;
    }

    .input-group__label {
        position: absolute;
        left: 3em;
        top: -0.28em;
        background: #ffffff;
    }
}

.input-group__label {
    padding: 0 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    /* color: rgb(255, 255, 255); */
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: 2px solid black;
}

.input-group__input {
    color: #000000;
    font-size: 1.25rem;
    line-height: 1;
    /* border-style: none; */
    outline: none;
    height: calc(1em + 1.6em + 0.5em);
    width: 97.5%;
    padding: 0.8em 1em;
    border: 0.25em solid transparent;
    background-image: linear-gradient(120deg, #657a41,#556B2F,#b2c1a2);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 1.8em;
    background-size: 200% 100%;
    transition: background-position 0.2s ease-in;
}

.input-group__input:hover {
    background-position: 100% 0;
}
.input-group__input::placeholder {
    color: rgba(0, 0, 0, 0.685);

}
.ingredients-dropdown {
    border: 1px solid #ccc;
    background: white;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    /* Remove max-height and overflow-y */
    max-height: none;
    overflow-y: visible;
}
.recipe-item-link {
    text-decoration: none;
    color: inherit;
    display: block;
}




/*style number 2*/


.error-message {
    color: red;
    margin-bottom: 1rem;
}

.ingredients-dropdown {
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.ingredient-dropdown-item {
    padding: 0.5rem;
    cursor: pointer;
}

.ingredient-dropdown-item:hover {
    background-color: #f0f0f0;
}

.ingredients-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin: 15px;
}


.ingredient-tag button {
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
}

.recipe-item-link {
    text-decoration: none;
    color: inherit;
}

.recipe-item {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px;
}

.recipe-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

.recipe-details {
    flex: 1;
}


.recipe-rating {
    color: #ffcc00;
}

.default-view {
    text-align: center;
    margin-top: 2rem;
}

.default-view h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.filter-sort-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 20px;
}

.filter-buttons,
.sort-buttons {
    display: flex;
    gap: 0.5rem;
}

.filter-buttons button,
.sort-buttons button {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.filter-buttons button.active,
.sort-buttons button.active {
    background-color: rgb(64, 4, 99);
    color: white;
}